/*------------------------------------------------- Light Theme Colors -------------------------------------------------*/
QMainWindow, QWidget {
    background-color: #fafafa;
    color: #2d2d2d;
}

/*------------------------------------------------- Sidebar -------------------------------------------------*/
#sidebar {
    background-color: #f2f2f2;
    border-right-color: #e1e1e1;
}

#logo-widget {
    background-color: #f2f2f2;
}

#app-title {
    color: #333333;
    background-color: #f2f2f2;
}
 
/*------------------------------------------------- Separator -------------------------------------------------*/
#sidebar-separator {
    color: #e3e3e3; 
    background-color: #f2f2f2; 
    height: 1px; 
    margin-left: 10px; 
    margin-right: 10px;
}

#main-separator {
    color: #e3e3e3; 
    height: 1px; 
    margin-left: 0px; 
    margin-right: 0px;
}

/*------------------------------------------------- Button -------------------------------------------------*/
QPushButton {
    background-color: #ebebeb;
}

QPushButton:hover {
    background-color: #e0e0e0;
}

QPushButton:pressed {
    background-color: #d8d8d8;
}

QPushButton:disabled {
    background-color: #bdc3c7;
    color: #7f8c8d;
}

QPushButton:checked {
    background-color: #c2c2c2;
}

QPushButton:checked:pressed {
    background-color: #adadad;
}

#dark-style-button {
    background-color: #ffffff;
}

#dark-style-button:hover {
    background-color: #e0e0e0;
}

#light-style-button:checked {
    border-width: 3px;
    border-style: solid;
    border-color: #6f8396;
    background-color: #fafafa;
}

#sidebar-button {
    background-color: transparent;
    color: #2d2d2d;
}

#sidebar-button:hover {
    background-color: #dedede;
}

#sidebar-button:checked {
    background-color: rgba(216,216,216,255);
}

#sidebar-button:checked:pressed {
    background-color: #c7c7c7;
}

#sidebar-toggle-button {
    background-color: #f2f2f2;
    border: 1px solid #e1e1e1;
    border-radius: 15px;
}

#sidebar-toggle-button:hover {
    background-color: #e0e0e0;
}

#sidebar-toggle-button:pressed {
    background-color: #d8d8d8;
}

/*------------------------------------------------- Tab Widget -------------------------------------------------*/
QTabWidget::pane {
    background-color: #fafafa;
    border-top-color: #e3e3e3;
}

QTabBar::tab {
    background-color: #fafafa;
}

QTabBar::tab:selected {
    background-color: #fafafa;
    border-bottom-color: #d8d8d8;
}

QTabBar::tab:hover:!selected {
    background-color: #dedede;
}

/*------------------------------------------------- Group Box -------------------------------------------------*/
QGroupBox {
    border-color: #e3e3e3;
    background-color: #ffffff;
}

/*------------------------------------------------- Label -------------------------------------------------*/
QLabel {
    background-color: white;
    color: #2d2d2d;
}

#image-display {
    border-color: #dcdcdc;
    background-color: #fafafa;
}

#dialog-status-label, #dialog-time-label {
    background-color: #fafafa;
}

#plot-label {
    background-color: #ffffff;
}

#training-dialog-parameters{
    background-color: white;
    border-color: #e3e3e3;
}

/*------------------------------------------------- Progress Bar -------------------------------------------------*/
QProgressBar {
    background-color: #e0e0e0;
}

QProgressBar::chunk {
    background-color: #6f8396;
}

/*------------------------------------------------- Plot Frame -------------------------------------------------*/
#plot-1-2-frame, #plot-3-frame {
    border-color: #e3e3e3;
    background-color: white;
}

/*------------------------------------------------- Slider -------------------------------------------------*/
QSlider {
    background-color: white;
}

QSlider::groove:horizontal {
    background: #e0e0e0;
}

QSlider::sub-page:horizontal {
    background: #6f8396;
}

QSlider::handle:horizontal {
    background: white;
    border-color: #e3e3e3;
}

/*------------------------------------------------- Status Bar -------------------------------------------------*/
QStatusBar {
    background-color: #fafafa;
    color: #000000;
}

/*------------------------------------------------- Scroll Bar -------------------------------------------------*/
QScrollBar:vertical, QScrollBar:horizontal {
    background-color: transparent;
}

QScrollBar:vertical:hover, QScrollBar:horizontal:hover {
    background-color: rgba(230, 230, 230, 0.7);
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background-color: #d2d2d2;
}

QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: #9c9c9c;
}

QScrollBar::handle:vertical:pressed, QScrollBar::handle:horizontal:pressed {
    background-color: #787878;
}

/*------------------------------------------------- Message Box -------------------------------------------------*/
QMessageBox#clear-model-message {
    background-color: #fafafa;
    color: #2d2d2d;
}

QMessageBox#clear-model-message QLabel {
    background-color: #fafafa;
    color: #2d2d2d;
}

QMessageBox#training-cancel-dialog {
    background-color: #fafafa;
    color: #2d2d2d;
}

QMessageBox#training-cancel-dialog QLabel {
    background-color: #fafafa;
    color: #2d2d2d;
}

/*------------------------------------------------- Spacer -------------------------------------------------*/
#spacer {
    background-color: #ffffff;
}

/*------------------------------------------------- Splitter -------------------------------------------------*/
#splitter-windows::handle {
    background-color: #f2f2f2;
    margin: 10px;
    width: 2px;
}

/*------------------------------------------------- Toolbar -------------------------------------------------*/
#matplotlib-toolbar QLabel {
    background-color: transparent;
    color: #2d2d2d;
}

/*------------------------------------------------- Line Edit -------------------------------------------------*/
QLineEdit {
    background-color: #ffffff;
    color: #2d2d2d;
    border: 1px solid #dcdcdc;
    padding: 5px;
}

QLineEdit:disabled {
    background-color: #f2f2f2;
    color: #a0a0a0;
}

/*------------------------------------------------- Tool Tip -------------------------------------------------*/
QToolTip {
    background-color: #ffffff;
    color: #2d2d2d;
    border: 1px solid #6f8396;
    padding: 5px;
}