/*------------------------------------------------- Dark Theme Colors -------------------------------------------------*/
QMainWindow, QWidget {
    background-color: #242424;
    color: #ffffff;
}

/*------------------------------------------------- Sidebar styling -------------------------------------------------*/
#sidebar {
    background-color: #303030;
    border-right-color: #161616;
}

#logo-widget {
    background-color: #303030;
}

#app-title {
    background-color: #303030;
}

/*------------------------------------------------- Separator styling -------------------------------------------------*/
#sidebar-separator {
    color: #4f4f4f; 
    background-color: #303030;
    height: 1px; 
    margin-left: 10px; 
    margin-right: 10px;
}

#main-separator {
    color: #4f4f4f; 
    background-color: #363636;
    height: 1px; 
    margin-left: 0px; 
    margin-right: 0px;
}

/*------------------------------------------------- Sidebar button styling -------------------------------------------------*/
#sidebar-button {
    background-color: transparent;
}

#sidebar-button:hover {
    background-color: #3e3e3e;
}

#sidebar-button:checked {
    background-color: #454545;
}

#sidebar-button:checked:pressed {
    background-color: #575757;
}

/*------------------------------------------------- Button styling -------------------------------------------------*/
QPushButton {
    background-color: #4a4a4a;
}

QPushButton:hover {
    background-color: #545454;
}

QPushButton:pressed {
    background-color: #727272;
}

QPushButton:disabled {
    background-color: #404040;
    color: #707070;
}

QPushButton:checked {
    background-color: #727273;
}

QPushButton:checked:pressed {
    background-color: #868686;
}

#light-style-button {
    background-color: #363636;
}

#light-style-button:hover {
    background-color: #3e3e3e;
}

#dark-style-button:checked {
    border-width: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: #454545;
    border-radius: 8px;
    padding: 3px;
    background-color: #242424;
}

#dark-style-button:checked:pressed {
    border-color: #868686;
}

/*------------------------------------------------- Tab Widget styling -------------------------------------------------*/
QTabWidget::pane {
    background-color: #242424;
    border-top-color: #161616;
}

QTabBar::tab {
    background-color: #242424;
}

QTabBar::tab:selected {
    background-color: #242424;
    border-bottom-color: #727273;
}

QTabBar::tab:hover:!selected {
    background-color: #3a3a3a;
}

/*------------------------------------------------- Group Box styling -------------------------------------------------*/
QGroupBox {
    border-color: #161616;
    background-color: #363636;
}

/*------------------------------------------------- Label styling -------------------------------------------------*/
QLabel {
    background-color: #363636;
}

#image-display {
    border-color: #161616;
    background-color: #242424;
}

#status-label, #time-label {
    background-color: #242424;
}

#plot-label {
    background-color: #363636;
}

/*------------------------------------------------- Progress Bar styling -------------------------------------------------*/
QProgressBar {
    background-color: #3d3d3d;
}

QProgressBar::chunk {
    background-color: #6f8396;
}

/*------------------------------------------------- Plot Frame styling -------------------------------------------------*/
#plot-1-2-frame, #plot-3-frame {
    border-color: #161616;
    background-color: #363636;
}

/*------------------------------------------------- Slider styling -------------------------------------------------*/
QSlider {
    background-color: #363636;
}

QSlider::groove:horizontal {
    background: #3d3d3d;
}

QSlider::sub-page:horizontal {
    background: #6f8396;
}

QSlider::handle:horizontal {
    background: #505050;
    border-color: #3d3d3d;
}

/*------------------------------------------------- Status Bar styling -------------------------------------------------*/
QStatusBar {
    background-color: #242424;
}

/*------------------------------------------------- Scroll Bar styling -------------------------------------------------*/
QScrollBar:vertical, QScrollBar:horizontal {
    background-color: transparent;
}

QScrollBar:vertical:hover, QScrollBar:horizontal:hover {
    background-color: rgba(75, 75, 75, 0.7);
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background-color: #505050;
}

QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
    background-color: #656565;
}

QScrollBar::handle:vertical:pressed, QScrollBar::handle:horizontal:pressed {
    background-color: #757575;
}

/*------------------------------------------------- Message Box styling -------------------------------------------------*/
QMessageBox#clear-model-message {
    background-color: #242424;
    color: white;
}

QMessageBox#clear-model-message QLabel {
    background-color: #242424;
    color: white;
}