/*------------------------------------------------- Base styling -------------------------------------------------*/
QMainWindow, QWidget {
    background-color: #fafafa;
    color: #2d2d2d;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/*------------------------------------------------- Sidebar styling -------------------------------------------------*/
#sidebar {
    background-color: #f2f2f2;
    border-right: 1px solid #e1e1e1;
}

#logo-widget {
    padding: 10px;
    background-color: #f2f2f2;
    margin: 10px;
}

#app-title {
    color: #333333;
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

#sidebar-button {
    background-color: transparent;
    color: #2d2d2d;
    border: none;
    text-align: left;
    padding: 12px 15px;
    margin: 2px 5px 2px 5px;
    font-size: 15px;
    font-weight: 400;
}

#sidebar-button:hover {
    background-color: #dedede;
}

#sidebar-button:checked {
    background-color: #d8d8d8;
    color: #2d2d2d;
}

/*------------------------------------------------- Tab Widget styling -------------------------------------------------*/
QTabWidget::pane {
    background-color: #fafafa;
    border-top: 1px solid  #e3e3e3;;
}

QTabBar::tab {
    background-color: #fafafa;
    min-width: 100px;
    min-height: 20px;
    padding: 8px 12px;
    margin-left: 0px;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QTabBar::tab:selected {
    background-color: #fafafa;
    border-bottom: 4px solid #d8d8d8;
    border-radius: 0px;
}

QTabBar::tab:hover:!selected {
    background-color: #dedede;
}

/*------------------------------------------------- Button styling -------------------------------------------------*/
QPushButton {
    background-color: #ebebeb;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #e0e0e0;
}

QPushButton:pressed {
    background-color: #d8d8d8;
}

QPushButton:disabled {
    background-color: #bdc3c7;
    color: #7f8c8d;
}

/*------------------------------------------------- Group Box styling -------------------------------------------------*/
QGroupBox {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #e3e3e3;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    margin: 25px 15px 25px 15px;
    padding: 0px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    margin-left: 15px;
    margin-top: -2px; 
}

#ModelControls {
    margin-bottom: 30px;
    padding: 5px;
}

#ModelMetrics {
    margin-bottom: 5px;
}

#ModelParameters {
    margin-bottom: 5px;
    margin-top: 0px;
}

#ModelInfo {
    margin-top: 0px;
}

/*------------------------------------------------- Label styling -------------------------------------------------*/
QLabel {
    font-size: 14px;
    background-color: white;
    color: #2d2d2d;
}

QLabel[objectName^="Model"] {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

/*------------------------------------------------- Plot Frame styling -------------------------------------------------*/
QFrame[objectName^="StyledFrame"] {
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}

/*------------------------------------------------- Status bar styling -------------------------------------------------*/
QStatusBar {
    background-color: #fafafa;
    color: #000000;
    min-height: 25px;
}

QStatusBar::item {
    border: none;
}