/*------------------------------------------------- Base styling -------------------------------------------------*/
QMainWindow, QWidget {
    font-family: 'Segoe UI', Arial, sans-serif;
}

/*------------------------------------------------- Sidebar styling -------------------------------------------------*/
#sidebar {
    border-right: 1px solid;
}

#logo-widget {
    padding: 10px;
    margin: 10px;
}

#app-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

/*------------------------------------------------- Sidebar button styling -------------------------------------------------*/
#sidebar-button {
    border: none;
    text-align: left;
    font-weight: 400;
    padding: 15px 12px 15px 12px; 
    margin: 2px 6px 2px 6px;
}

/*------------------------------------------------- Style buttons styling ------------------------------------------------- */
#light-style-button, #dark-style-button {
    border-radius: 8px;
    padding: 5px;
}

#light-style-button:checked, #dark-style-button:checked {
    padding: 4px;
}

#style-button-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

/*------------------------------------------------- Button styling -------------------------------------------------*/
QPushButton {
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 700;
}

#conf-matrix {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#loss-history {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#plot-simple_cnn {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#plot-vgg16 {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#plot-resnet {
    border-radius: 0px;
}

#plot-efficientnet {
    border-radius: 0px;
}

/*------------------------------------------------- Tab Widget styling -------------------------------------------------*/
QTabWidget::pane {
    border-top: 1px solid;
}

QTabBar::tab {
    min-width: 100px;
    min-height: 20px;
    padding: 8px 12px;
    margin-left: 0px;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QTabBar::tab:selected {
    border-bottom: 4px solid;
    border-radius: 0px;
}

/*------------------------------------------------- Group Box styling -------------------------------------------------*/
QGroupBox {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid;
    border-radius: 12px;
    margin: 20px;
    margin-top: 50px;
    padding: 0px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    margin-left: 18px;
    margin-top: 18px; 
}

#model-controls {
    padding: 15px;
    margin-bottom: 5px;
}

#model-metrics {
    margin-bottom: 0px;
    padding: 0px;
}

#model-parameters {
    margin-top: 5px;
    margin-bottom: 0px;
}

#model-info {
    margin-top: 5px;
}

#results-group {
    margin-left: 0px;
}

#classification-group {
    margin-right: 10px;
}

#results-group:title {
    margin-left: -2px;
    margin-top: 20px; 
}

#params-group {
    margin-top: 20px;
}

/*------------------------------------------------- Label styling -------------------------------------------------*/
QLabel {
    font-size: 14px;
}

QLabel[objectName^="Model"] {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

QLabel[objectName^="Metrics"] {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

#image-display {
    border: 1px solid;
    border-radius: 0px;
}

#param-label {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

/*------------------------------------------------- Progress bar styling -------------------------------------------------*/
QProgressBar {
    text-align: center;
}

/*------------------------------------------------- Plot Frame styling -------------------------------------------------*/
#plot-1-2-frame {
    border: 1px solid;
    border-radius: 12px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#plot-3-frame {
    border: 1px solid;
    border-radius: 12px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

/*------------------------------------------------- Slider styling -------------------------------------------------*/
QSlider {
    min-height: 10px;
}

QSlider::groove:horizontal {
    border: none;
    height: 4px;
    border-radius: 2px;
}

QSlider::sub-page:horizontal {
    border-radius: 2px;
}

QSlider::handle:horizontal {
    border: 1px solid;
    width: 14px;
    height: 14px;
    margin: -5px 0;
    border-radius: 7px;
}

/*------------------------------------------------- Status bar styling -------------------------------------------------*/
QStatusBar {
    min-height: 25px;
}

QStatusBar::item {
    border: none;
}

/*------------------------------------------------- Scroll bar styling -------------------------------------------------*/
QScrollBar:vertical {
    border: none;
    width: 9px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

QScrollBar:horizontal {
    border: none;
    height: 9px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

QScrollBar::handle:vertical {
    min-height: 30px;
    border-radius: 4px;
    margin: 0px;
}

QScrollBar::handle:horizontal {
    min-width: 30px;
    border-radius: 4px;
    margin: 0px;
}

QScrollBar::add-line, QScrollBar::sub-line {
    border: none;
    background: none;
    width: 0px;
    height: 0px;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}